<!DOCTYPE html>
<html lang="en">

<head>
{{>headerlinks}}
</head>

<body>

{{>navbar}}
    <section class="error-pg">
        <div id="error-img">
                <img src="./Images/404.png" alt="">
        </div>
        <div class="info error-info">
            <p>Hello World</p>
            <h1><span>Oops! </span>Page Not Found</h1>
            <button><a href="/">Go Back</a></button>
        </div>
        </div>
    </section>

{{>footer}}

    <script src="./script.js"></script>
</body>

</html>