<!DOCTYPE html>
<html lang="en">

<head>
{{>headerlinks}}
</head>

<body>

{{>navbar}}
    <section class="content about">
        <div id="about-img">
            <figure>
                <img src="./Images/about.png" alt="">
            </figure>
        </div>
        <div class="info about-info">
            <p>Hello World</p>
            <h1>I am a <span>MERN Stack Developer</span></h1>
            <button>About Me</button>
        </div>
        </div>
    </section>

{{>footer}}

    <script src="./script.js"></script>
</body>

</html>